# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [514]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]


def get_digits(name):
    for entry in address_book:
        if name == entry[0] or name == entry[1] or name == entry[0] + " " + entry[1]:
            return entry[3]
    return -1

get_digits('Terry')


def lines():
    print('='*20)
    
lines()

====================

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [99]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d1 = {} # Empty Dictionary
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Blvd'
}
print(d3)
print(type(d3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

In [5]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

##### Accessing Values

In [215]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd'}

In [8]:
# dict[key]

print(d3['Hank'])

123 Real Street

In [241]:
print(d3['Tevin'])

100 Rodeo Blvd

In [233]:
# Will get an error if searching for a Key that isn't in the dictionary

print(d3['Terry'])

KeyError: 'Terry'

##### .get()

In [12]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [14]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d3.get('Peter'))
print(d3.get('Terry'))
print(d3.get('Terry', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [247]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"I drive a {truck.get('year')} {truck.get('make')} {truck.get('model')} you city slickin' sumagun!")


print(f"I drive a {truck['year']} {truck['make']} {truck['model']} you city slickin' sumagun!")

I drive a 2018 Chevrolet Silverado you city slickin' sumagun!
I drive a 2018 Chevrolet Silverado you city slickin' sumagun!

##### Adding New Pairs

In [18]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd'}

In [19]:
# dict[key] = value

d3['Zooey'] = '151 Main St'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '151 Main St'}

In [264]:
name = 'George'
d3[name] = '555 Circle Drive'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'George': '555 Circle Drive'}

##### Modifying Values

In [20]:
# dict[key] = value

d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [21]:
# del dict[key]

del d3['Tevin']

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

In [22]:
# dict.pop('key')

help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If key is not found, default is returned if given, otherwise KeyError is raised

In [23]:
removed_value = d3.pop('Zooey')

print(removed_value)

d3

321 Fake Street

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [25]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [250]:
# .items() 

print(d3.items())

for item in d3.items():
    print(item, type(item))

dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd'), ('Tevin', '100 Rodeo Blvd')])
('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>
('Tevin', '100 Rodeo Blvd') <class 'tuple'>

In [28]:
d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

In [33]:
for key, value in d3.items():
    print(f"Key: {key} -- Value: {value}")

Key: Hank -- Value: 123 Real Street
Key: Peter -- Value: 321 Fake Street
Key: Sydney -- Value: 555 Santa Monica Blvd
Key: Zooey -- Value: 321 Fake Street

In [34]:
d4 = {'a': 123, 'b': 456, 'c': 789}

print(d4)

{'a': 123, 'b': 456, 'c': 789}

##### Looping Only Keys

In [266]:
# .keys()
print(d3)

print('='*20)

for element in d3:
    print(element)
    
print('='*20)

print(d3.keys())
    
print('='*20)

for key in d3.keys():
    print(key)

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Blvd', 'George': '555 Circle Drive'}
====================
Hank
Peter
Sydney
Tevin
George
====================
dict_keys(['Hank', 'Peter', 'Sydney', 'Tevin', 'George'])
====================
Hank
Peter
Sydney
Tevin
George

##### Looping Only Values

In [268]:
# .values()
print(d3.values())

for val in d3.values():
    print(val)

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd', '100 Rodeo Blvd', '555 Circle Drive'])
123 Real Street
321 Fake Street
555 Santa Monica Blvd
100 Rodeo Blvd
555 Circle Drive

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [282]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

for name, eyes in people.items():
    print(f"{name} has {eyes} eyes")

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

In [284]:
for key in people:
    print(f"{key} has {people[key]} eyes")

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### List with Dictionaries

In [296]:
# Get all keys from nested dictionary in a list
my_list = [1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}]

In [304]:
print(my_list[5])
print(type(my_list[5]))

lines()

print(my_list[5]['a'])

lines()

print(my_list[5].get('b'))

lines()

print(my_list[5].items())

{'a': 123, 'b': 456}
<class 'dict'>
====================
123
====================
456
====================
dict_items([('a', 123), ('b', 456)])

In [317]:
# List of dictionaries

movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)
print(type(movies))

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}]
<class 'list'>

In [334]:
for movie in movies:
    print(f"{movie['title']} was directed by {movie['director']} and released in {movie['release_year']}.")
    
lines()

for movie in movies:
    print(f"Title: {movie['title']} - Director: {movie['director']} - Released In: {movie['release_year']}")

lines()
    
for movie in movies:
    print(f"Title: {movie.get('title')} - Director: {movie.get('director')} - Released In: {movie.get('release_year')}")

Inception was directed by Christopher Nolan and released in 2010.
The Social Network was directed by David Fincher and released in 2010.
The Departed was directed by Martin Scorsese and released in 2006.
Parasite was directed by Bong Joon Ho and released in 2019.
====================
Title: Inception - Director: Christopher Nolan - Released In: 2010
Title: The Social Network - Director: David Fincher - Released In: 2010
Title: The Departed - Director: Martin Scorsese - Released In: 2006
Title: Parasite - Director: Bong Joon Ho - Released In: 2019
====================
Title: Inception - Director: Christopher Nolan - Released In: 2010
Title: The Social Network - Director: David Fincher - Released In: 2010
Title: The Departed - Director: Martin Scorsese - Released In: 2006
Title: Parasite - Director: Bong Joon Ho - Released In: 2019

##### Dictionaries with Lists

In [344]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [23, 543, 456, 32],
    0: ['a', 'b', 'c'],
}

print(random_data)

print(random_data[0]) # this isn't index '0'...it's searching for the key '0'

print(random_data['list1'], type(random_data['list1']))

print(random_data['list1'][1])

{'list1': [23, 543, 456, 32], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[23, 543, 456, 32] <class 'list'>
543

In [347]:
nums = [1, 2, 2, 3, 4, 5, 3, 2, 3, 5, 6, 3, 2, 2, 4, 5, 6]

count = {}

for num in nums:
    if num in count:
        count[num] += 1
    else:
        count[num] = 1

count

{1: 1, 2: 5, 3: 4, 4: 2, 5: 3, 6: 2}

##### Dictionaries with Dictionaries

In [357]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['oreo'])
print(my_shoppe.get('milkshake').get('chocolate'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
3.49
3.99

## In-Class Exercise #3 - Job Applicants
<p>You are tasked with determining if an applicant has enough experience for a position. The position requires that the applicant has a Python proficiency of at least 7. Write a function that accepts a job application dictionary and returns a boolean</p>
<p>All job application dictionaries will have the same structure:</p>

In [ ]:
# {
#     'full_name': str,
#     'email': str,
#     'prog_languages': [
#         {
#             'name': str,
#             'proficiency': str,
#         },
#     ],
#     'experience': [
#         {
#             'company': str,
#             'position': str,
#             'years_at_company': [int]
#         },
#     ],
#     'us_citizen': bool
# }

In [409]:
job_app1 = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app2 = {
    'full_name': 'Carmen Ferguson',
    'us_citizen': True,
    'experience': [
        {
            'company': 'Zeta',
            'position': 'Front-End Developer',
            'years_at_company': [2017, 2018]
        },
        {
            'company': 'Tech & Tech Inc.',
            'position': 'Senior Front End',
            'years_at_company': [2019, 2020, 2021]
        }
    ],
    'email': 'carmenf@myspace.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 4
        },
        {
            'name': 'JavaScript',
            'proficiency': 6
        }
    ]
}

In [454]:
def is_viable(job_app):
    for language in job_app['prog_languages']:
        if language['name'] == 'Python' and language['proficiency'] >= 7:
            return True
    return False


# OR.....(if the prog_languages list is always in the same order)
# if job_app['prog_languages'][0]['proficiency'] >= 7:
#         print('Is Viable')
#     else:
#         print('Not Viable')

In [455]:
is_viable(job_app1) # True

True

In [456]:
is_viable(job_app2) # False

False

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [458]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [460]:
time.time()

1670763811.380123

In [468]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.11968636512756348

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [471]:
# set() or {val,}
# no order {3, 2, 1} outputs as {1, 2, 3}

first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [473]:
second_set = {3, 2, 1}
print(second_set)
print(type(second_set))

{1, 2, 3}
<class 'set'>

In [476]:
third_set = {1,1,1,2,2,2,3,3,3,4,4,4}

print(third_set)

{1, 2, 3, 4}

In [477]:
set_of_strings = {'a','a','a','b','c'}
print(set_of_strings)

{'a', 'b', 'c'}

##### .add()

In [480]:
# set.add(value) => adds value to set

third_set.add(56)
print(third_set)

{1, 2, 3, 4, 56}

##### .remove()

In [481]:
# removes by value
# set.remove(val_to_remove) => removes value from the set

third_set.remove(3)

print(third_set)

{1, 2, 4, 56}

In [482]:
# Sets are iterable:

for value in third_set:
    print(value)

1
2
4
56

##### .union()

In [483]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [487]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

s1 = {1,2,3,4}
s2 = {3,4,5,6}

s3 = s1.union(s2)

print(s3)

# OR......

s4 = s1 | s2
print(s4)

print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4}

##### .intersection()

In [488]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [496]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

# OR.....

s6 = s1 & s2
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [497]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [507]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s7 = s2.difference(s1)
print(s7)

# order matters

s8 = s1.difference(s2)
print(s8)


# OR.....

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{5, 6}
{1, 2}
{1, 2}
{5, 6}

##### .clear()

In [508]:
# Empties the whole set
# set.clear()

print(s10)
set.clear(s10)
print(s10)

{5, 6}
set()

In [516]:
# Sets are iterable

list_set = set([1,2,2,3,4,4,5,5,6,7])
print(list_set)

lines()

string_set = set("Hello World")
print(string_set)

{1, 2, 3, 4, 5, 6, 7}
====================
{'W', ' ', 'l', 'd', 'o', 'r', 'H', 'e'}

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [518]:
# frozenset([])

my_frozenset = frozenset({1,2,3,4,5})
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [519]:
# cannot change a frozen set

my_frozenset.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [521]:
new_dict = {
    'hello': 123,
    (1,2): 456,
    frozenset({'a', 'b'}): 'value for frozenset'
}

print(new_dict)

{'hello': 123, (1, 2): 456, frozenset({'a', 'b'}): 'value for frozenset'}

In [522]:
print(new_dict.get(frozenset({'a', 'b'})))

value for frozenset

In [526]:
# Can do comprehension like with lists

list_comp = [i for i in range(10)]
print(list_comp)

lines()

set_comp = {i for i in range(10)}
print(set_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
====================
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Sets vs. Lists (over time) Example of RUNTIME
### When inputting values in a Set vs List

In [527]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [528]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0
True
Elapsed time for list: 0.11369633674621582

In [531]:
def count_vowels(sentence):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    count = 0
    for letter in sentence:
        if letter in vowels:
            count += 1
    return count

count_vowels("The quick brown fox jumped over the lazy dog")

12

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the results into dictionary
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [358]:
#Step 1 - create a function
def address_book():
    #Step 2 - define empty dictionary
    book = {}
    #Step 3 - begin a loop that asks for info until user quits
    while True:
        name = input("What name would you like to store? ")
        address = input(f"What is {name.title()}'s address? ")
        book[name.title()] = address.title()
        ask = input("Would you like to add another name (y/n)? ").lower()
        if ask == 'n':
            break
    for name in book:
        print(f"Name: {name} -- Address: {address}")
    return book

address_book()

What name would you like to store? terry ryan
What is Terry Ryan's address? 123 main st
Would you like to add another name (y/n)? y
What name would you like to store? joe blow
What is Joe Blow's address? 324 fake ave
Would you like to add another name (y/n)? n
Name: Terry Ryan -- Address: 324 fake ave
Name: Joe Blow -- Address: 324 fake ave

{'Terry Ryan': '123 Main St', 'Joe Blow': '324 Fake Ave'}

In [ ]:

def address_book(): # Step 1
    book = {} # Step 2
    while True: # Step 3
        name = input("Who are you adding to the address book? ") # Step 4
        address = input(f"What is {name.title()}'s address? ") # Step 4
        book[name.title()] = address.title() # Step 5
        ask = input("Would youy like to add more names? ").lower()
        if ask == 'n': # Step 6
            break
    for name, address in book.items(): # Step 7
        print(f"{name.title()} lives at {address.title()}")
    return book
              
address_book() # Step 8

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [77]:

person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

In [80]:
def can_teammates_meet(original, *schedules):
    
    agreed_times = []
    original_set = set(original)
    
    for schedule in schedules:
        schedule_set = set(schedule)
        original_set = original_set.intersection(schedule_set)
#         common_set_list = list(common_set)
#         agreed_times += common_set_list
    
    return list(original_set)

can_teammates_meet(person1, person2, person3, person4)

['14:30', '12:00']

In [95]:
def meet_time(this_list, *another_list):
    return list(set(this_list).intersection(*another_list))

print(f"Available Times: {meet_time(person1, person2, person3, person4)}")

Available Times: ['14:30', '12:00']